@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Bold.eot');
    src: url('DINPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('DINPro-Bold.woff2') format('woff2'),
        url('DINPro-Bold.woff') format('woff'),
        url('DINPro-Bold.ttf') format('truetype'),
        url('DINPro-Bold.svg#DINPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

