h1 {
    font-size: 48px;
    font-weight: 700;
}

h2,
h3,
h4 {
    font-size: 30px;
    font-weight: 700;
}

h5,
h6 {
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
}

p {
    font-size: 16px;
    line-height: 30px;
}

a {
    color: #626161;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

a:hover {
    color: #626161;
    text-decoration: none;
}