// Colors
$primary-color : #ed7a05;
$secondry-color: #123127;
$text-color: #000;

// Fonts
$fontMain: 'Open Sans', sans-serif;


// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991 : 991px;
$breakout767 : 767px;
$breakout576 : 576px;