.navbar {
    &-nav {
        .nav-item {
            .nav-link {
                font-size: 13px;
                font-weight: 700;
                color: #626161;
                padding: 34px 15px;
                border-top: 3px solid transparent;
                transition: 0.5s ease all;

                &.active, &:hover {
                    color: #626161;
                    border-color: $primary-color;
                }
            }
        }
    }
}